<li>
    <a href="#">
        <i class="ti-shield"></i>
        <span class="menu-title">Security</span>
        <i class="arrow"></i>
    </a>
    <ul class="collapse">
        <li>
            <a href="{{ path('sylius_admin_admin_user_index') }}">
                <i class="ti-user"></i>
                <span class="menu-title">Admin Users</span>
            </a>
        </li>
        <li>
            <a href="{{ path('sylius_admin_customer_index') }}">
                <i class="ti-user"></i>
                <span class="menu-title">Web Users</span>
            </a>
        </li>
    </ul>
</li>
