{% if data.user is not null %}
    {% if data.user.enabled %}
        <span class="label label-success">
            {{ 'toro.ui.yes'|trans }}
        </span>
    {% else %}
        <span class="label label-danger">
            {{ 'toro.ui.no'|trans }}
        </span>
    {%  endif %}
{% else %}
    <span class="label label-default">
        {{ 'toro.ui.no_account'|trans }}
    </span>
{% endif %}
